.business {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--forthly-font-weight);
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-for-dark-theme);
  padding-bottom: 30px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .business {
    font-size: 44px;
    line-height: 1.37;
  }
}

