.ways-section-position {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hiden-ways {
  display: none;
}

.ways-position {
  display: flex;
}

.ways-card-position {
  width: 270px;
    &:not(:nth-last-child(1)) {
      margin-right: 30px;
    }
}

.ways {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.ways-option {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color-for-text);
  text-transform: none;
}

.ways-logo {
  background-color: var(--background-color-ways-logo);
  border-radius: 4px;
}

.ways-logo-position {
  display: flex;
  background-color: var(--background-color-ways-logo);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
