@media screen and (max-width: 767px) {
  .business-background {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/mobile_background.png");
    background-size: cover;
    width: max-content;
    height: max-content;
    padding-bottom: 118px;
    padding-top: 118px;
  }
}

// 768-1199
@media screen and (max-width: 1199px) {
  .business-background {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/mobile_background.png");
    background-size: auto, auto;
    width: max-content;
    height: max-content;
    padding-bottom: 118px;
    padding-top: 118px;
  }
}