.business-background {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/img_backgraund.png");
  background-size: cover;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
}
