.business-background {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/mobile_background.png");
  background-size: cover;
  height: max-content;
  padding-bottom: 118px;
  padding-top: 118px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .business-background {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/background_img_laptop.png");
    background-size: cover;
    width: max-content;
    height: max-content;
    padding-bottom: 118px;
    padding-top: 118px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .business-background {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/img_backgraund.png");
    background-size: cover;
  }
}
