.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.close-button-menu{
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 450px;
  margin-top: 10px;
  margin-right: 15px;
  border: none;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  width: 40px;
  height: 40px;
  &:hover,
  &:focus {
    fill: var(--main-color-hover-focus);
  }
}


.mobile-menu {
  position: absolute;
  animation-name: animation-backdrop;
  animation-duration: 300ms;
  width: 480px;
  height: 796px;
}

.mobile-menu__form{


}

.mobile-menu__navigation{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__link{
  display: flex;
  &:not(:nth-last-child(1)){
    margin-bottom: 32px;
  }
}

.mobile-menu__link-position{
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--thread-font-weight);
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color);
  &:hover,
  &:focus{
    color: var(--main-color-hover-focus);
  }
}

.mobile-menu__mail-phone-position{
  display: flex;
  flex-direction: column;
  margin-top: 302px;
  margin-left: 40px;
  margin-bottom: 64px;
}

.mobile-menu__phone{
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--thread-font-weight);
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color-hover-focus);
}

.mobile-menu__phone-position{
  margin-bottom: 32px;
}

.mobile-menu__mail{
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--thread-font-weight);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color-for-text);
}

.social-links{
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--thread-font-weight);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--main-color-hover-focus);
}

.social-links-after{
  &:not(:last-child)::after{
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
  }
}

.social-links-position{
  display: flex;
  margin-left: 40px;
}



@media screen and (min-width: 481px) and (max-width: 768px) {
  .navigation-bar__mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .navigation-bar__mobile-menu {
    display: none;
  }
}
