@media screen and (max-width: 767px) {
 .container {
    width: 480px;
    margin: 0 auto;
    padding: 0 auto;
  } 
}

@media screen and (max-width: 1199px) {
  .container {
    width: 1199px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
