:root {
  --main-color: #212121;
  --main-color-hover-focus: #2196f3;
  --secondary-color-for-text: #757575;
  --main-font-family: "Raleway", sans-serif;
  --main-font-style: normal;
  --main-font-weight: 700;
  --secondary-font-weight: 400;
  --thread-font-weight: 500;
  --forthly-font-weight: 900;
  --secondary-main-font-family: "Roboto", sans-serif;
  --color-btn-for-active: #188ce8;
  --footer-background: #2f303a;
  --color-text-for-dark-theme: #ffffff;
  --background-color-for-backdrop: #ffffff;
  --color-for-radius-subscribe: #2f303a;
  --color-for-links-of-navigation: #000000;
  --color-clients-logo: #afb1b8;
  --background-color-our-team: #f5f4fa;
  --background-color-member-card: #ffffff;
  --background-color-ways-logo: #f5f4fa;
}
